#PK-container{
  width: 100%;
  height: auto;
  padding: 0;
}

#PK-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: none;
  background-image: url(../../Assets/backdropimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

#PK-img{
  height: 90%;
  width: auto;
  margin-top: 1rem;
}

#PK-body{
  padding: 0;
  margin: 0;
  width: auto;
  height: 40%;
}

.PK-title{
  color: navy;
  font-size: 1.5rem;
}