.pagination{
  display: flex;
  justify-content: center;
  margin-top: 2rem 0;
  padding-bottom: 2rem 1rem;
}

#left-button{
  width: auto;
  height: 3rem;
  color: white;
  background-color: rgb(79, 79, 166);
  border-radius: 10px;
  border: 2px solid rgb(104, 104, 211);
  margin: 2rem 1rem;
}

#left-button:hover{
  transform: scale(110%);
}

#right-button{
  width: auto;
  height: 3rem;
  color: white;
  background-color: rgb(79, 79, 166);
  border-radius: 10px;
  border: 2px solid rgb(104, 104, 211);
  margin: 2rem 1rem;
}

#right-button:hover{
  transform: scale(110%);
 }